<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="sq" connectionString="Data Source=DESKTOP-M3PA63A; Initial Catalog=ATS UPDATED; Persist Security Info=True; User ID=sa; Password=root" providerName ="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
